In [6]:
import pandas as pd 
import numpy as np
import scipy 
from scipy import stats
from plotly import figure_factory as FF

In [15]:
customer= pd.read_csv("CustomerOrderForm.csv")
customer

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [16]:
customer['Phillippines']=customer['Phillippines'].map({'Error Free':0,'Defective':1})
customer['Indonesia']=customer['Indonesia'].map({'Error Free':0,'Defective':1})
customer['Malta']=customer['Malta'].map({'Error Free':0,'Defective':1})
customer['India']=customer['India'].map({'Error Free':0,'Defective':1})

In [17]:
customer

     Phillippines  Indonesia  Malta  India
0               0          0      1      0
1               0          0      0      1
2               0          1      1      0
3               0          0      0      0
4               0          0      1      0
..            ...        ...    ...    ...
295             0          0      0      0
296             0          0      0      0
297             0          0      1      0
298             0          0      0      0
299             0          1      1      0

[300 rows x 4 columns]

In [21]:
customer.isnull().sum()

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

In [22]:
shapiro_test = stats.shapiro(customer)
shapiro_test

ShapiroResult(statistic=0.3304755687713623, pvalue=0.0)