In [1]:
# libraries 
import pandas as pd 
import numpy as np

In [2]:
# load the dataset 
RF = pd.read_csv("Fraud_check.csv")

In [3]:
# view the data 
RF

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO
...,...,...,...,...,...,...
595,YES,Divorced,76340,39492,7,YES
596,YES,Divorced,69967,55369,2,YES
597,NO,Divorced,47334,154058,0,YES
598,YES,Married,98592,180083,17,NO
599,NO,Divorced,96519,158137,16,NO

In [4]:
RF.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

In [6]:
RF.shape

(600, 6)

In [8]:
RF.columns

Index(['Undergrad', 'Marital.Status', 'Taxable.Income', 'City.Population',
       'Work.Experience', 'Urban'],
      dtype='object')

In [9]:
RF.isnull().sum()

Undergrad          0
Marital.Status     0
Taxable.Income     0
City.Population    0
Work.Experience    0
Urban              0
dtype: int64

In [10]:
RF.describe()

       Taxable.Income  City.Population  Work.Experience
count      600.000000       600.000000       600.000000
mean     55208.375000    108747.368333        15.558333
std      26204.827597     49850.075134         8.842147
min      10003.000000     25779.000000         0.000000
25%      32871.500000     66966.750000         8.000000
50%      55074.500000    106493.500000        15.000000
75%      78611.750000    150114.250000        24.000000
max      99619.000000    199778.000000        30.000000

In [11]:
# defining the  dataframe 
Ran_For = pd.DataFrame(RF)

In [13]:
# create the dummies for maritial status 
dummies = pd.get_dummies(Ran_For['Marital.Status']).rename(columns= lambda x: 'Marital.Status_' +str(x))
# bring the dummies into the original dataset
Ran_For = pd.concat([Ran_For, dummies],axis=1)
print(Ran_For)

    Undergrad Marital.Status  Taxable.Income  City.Population  \
0          NO         Single           68833            50047
1         YES       Divorced           33700           134075
2          NO        Married           36925           160205
3         YES         Single           50190           193264
4          NO        Married           81002            27533
..        ...            ...             ...              ...
595       YES       Divorced           76340            39492
596       YES       Divorced           69967            55369
597        NO       Divorced           47334           154058
598       YES        Married           98592           180083
599        NO       Divorced           96519           158137

     Work.Experience Urban  Marital.Status_Divorced  Marital.Status_Married  \
0                 10   YES                        0                       0
1                 18   YES                        1                       0
2                 30   YES                        0                       1
3                 15   YES                        0                       0
4                 28    NO                        0                       1
..               ...   ...                      ...                     ...
595                7   YES                        1                       0
596                2   YES                        1                       0
597                0   YES                        1                       0
598               17    NO                        0                       1
599               16    NO                        1                       0

     Marital.Status_Single  Marital.Status_Divorced  Marital.Status_Married  \
0                        1                        0                       0
1                        0                        1                       0
2                        0                        0                       1
3                        1                        0                       0
4                        0                        0                       1
..                     ...                      ...                     ...
595                      0                        1                       0
596                      0                        1                       0
597                      0                        1                       0
598                      0                        0                       1
599                      0                        1                       0

     Marital.Status_Single
0                        1
1                        0
2                        0
3                        1
4                        0
..                     ...
595                      0
596                      0
597                      0
598                      0
599                      0

[600 rows x 12 columns]

In [14]:
# create the dummies for urban 
dummies = pd.get_dummies(Ran_For['Urban']).rename(columns= lambda x: 'Urban_' +str(x))
# bring the dummies into the original dataset
Ran_For = pd.concat([Ran_For, dummies],axis=1)
print(Ran_For)

    Undergrad Marital.Status  Taxable.Income  City.Population  \
0          NO         Single           68833            50047
1         YES       Divorced           33700           134075
2          NO        Married           36925           160205
3         YES         Single           50190           193264
4          NO        Married           81002            27533
..        ...            ...             ...              ...
595       YES       Divorced           76340            39492
596       YES       Divorced           69967            55369
597        NO       Divorced           47334           154058
598       YES        Married           98592           180083
599        NO       Divorced           96519           158137

     Work.Experience Urban  Marital.Status_Divorced  Marital.Status_Married  \
0                 10   YES                        0                       0
1                 18   YES                        1                       0
2                 30   YES                        0                       1
3                 15   YES                        0                       0
4                 28    NO                        0                       1
..               ...   ...                      ...                     ...
595                7   YES                        1                       0
596                2   YES                        1                       0
597                0   YES                        1                       0
598               17    NO                        0                       1
599               16    NO                        1                       0

     Marital.Status_Single  Marital.Status_Divorced  Marital.Status_Married  \
0                        1                        0                       0
1                        0                        1                       0
2                        0                        0                       1
3                        1                        0                       0
4                        0                        0                       1
..                     ...                      ...                     ...
595                      0                        1                       0
596                      0                        1                       0
597                      0                        1                       0
598                      0                        0                       1
599                      0                        1                       0

     Marital.Status_Single  Urban_NO  Urban_YES
0                        1         0          1
1                        0         0          1
2                        0         0          1
3                        1         0          1
4                        0         1          0
..                     ...       ...        ...
595                      0         0          1
596                      0         0          1
597                      0         0          1
598                      0         1          0
599                      0         1          0

[600 rows x 14 columns]

In [15]:
# create the dummies for undergrad
dummies = pd.get_dummies(Ran_For['Undergrad']).rename(columns= lambda x: 'Undergrad_' +str(x))
# bring the dummies into the original dataset
Ran_For = pd.concat([Ran_For, dummies],axis=1)
print(Ran_For)

    Undergrad Marital.Status  Taxable.Income  City.Population  \
0          NO         Single           68833            50047
1         YES       Divorced           33700           134075
2          NO        Married           36925           160205
3         YES         Single           50190           193264
4          NO        Married           81002            27533
..        ...            ...             ...              ...
595       YES       Divorced           76340            39492
596       YES       Divorced           69967            55369
597        NO       Divorced           47334           154058
598       YES        Married           98592           180083
599        NO       Divorced           96519           158137

     Work.Experience Urban  Marital.Status_Divorced  Marital.Status_Married  \
0                 10   YES                        0                       0
1                 18   YES                        1                       0
2                 30   YES                        0                       1
3                 15   YES                        0                       0
4                 28    NO                        0                       1
..               ...   ...                      ...                     ...
595                7   YES                        1                       0
596                2   YES                        1                       0
597                0   YES                        1                       0
598               17    NO                        0                       1
599               16    NO                        1                       0

     Marital.Status_Single  Marital.Status_Divorced  Marital.Status_Married  \
0                        1                        0                       0
1                        0                        1                       0
2                        0                        0                       1
3                        1                        0                       0
4                        0                        0                       1
..                     ...                      ...                     ...
595                      0                        1                       0
596                      0                        1                       0
597                      0                        1                       0
598                      0                        0                       1
599                      0                        1                       0

     Marital.Status_Single  Urban_NO  Urban_YES  Undergrad_NO  Undergrad_YES
0                        1         0          1             1              0
1                        0         0          1             0              1
2                        0         0          1             1              0
3                        1         0          1             0              1
4                        0         1          0             1              0
..                     ...       ...        ...           ...            ...
595                      0         0          1             0              1
596                      0         0          1             0              1
597                      0         0          1             1              0
598                      0         1          0             0              1
599                      0         1          0             1              0

[600 rows x 16 columns]

In [16]:
Ran_For.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Single,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Single,Urban_NO,Urban_YES,Undergrad_NO,Undergrad_YES
0,NO,Single,68833,50047,10,YES,0,0,1,0,0,1,0,1,1,0
1,YES,Divorced,33700,134075,18,YES,1,0,0,1,0,0,0,1,0,1
2,NO,Married,36925,160205,30,YES,0,1,0,0,1,0,0,1,1,0
3,YES,Single,50190,193264,15,YES,0,0,1,0,0,1,0,1,0,1
4,NO,Married,81002,27533,28,NO,0,1,0,0,1,0,1,0,1,0

In [17]:
Ran_For = Ran_For.drop('Undergrad', 1)

In [19]:
Ran_For = Ran_For.drop('Marital.Status', 1)

In [20]:
Ran_For = Ran_For.drop('Urban', 1)

In [21]:
Ran_For.head()

,Taxable.Income,City.Population,Work.Experience,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Single,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Single,Urban_NO,Urban_YES,Undergrad_NO,Undergrad_YES
0,68833,50047,10,0,0,1,0,0,1,0,1,1,0
1,33700,134075,18,1,0,0,1,0,0,0,1,0,1
2,36925,160205,30,0,1,0,0,1,0,0,1,1,0
3,50190,193264,15,0,0,1,0,0,1,0,1,0,1
4,81002,27533,28,0,1,0,0,1,0,1,0,1,0

In [22]:
row_indexes = Ran_For[Ran_For['Taxable.Income']>=30000].index

In [23]:
Ran_For.loc[row_indexes,'tax']='Good'

In [24]:
row_indexes = Ran_For[Ran_For['Taxable.Income']<30000].index

In [25]:
Ran_For.loc[row_indexes,'tax']='Risky'

In [26]:
Ran_For.head()

,Taxable.Income,City.Population,Work.Experience,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Single,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Single,Urban_NO,Urban_YES,Undergrad_NO,Undergrad_YES,tax
0,68833,50047,10,0,0,1,0,0,1,0,1,1,0,Good
1,33700,134075,18,1,0,0,1,0,0,0,1,0,1,Good
2,36925,160205,30,0,1,0,0,1,0,0,1,1,0,Good
3,50190,193264,15,0,0,1,0,0,1,0,1,0,1,Good
4,81002,27533,28,0,1,0,0,1,0,1,0,1,0,Good

In [27]:
Ran_For = Ran_For.drop('Taxable.Income',1)

In [28]:
Ran_For.head()

,City.Population,Work.Experience,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Single,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Single,Urban_NO,Urban_YES,Undergrad_NO,Undergrad_YES,tax
0,50047,10,0,0,1,0,0,1,0,1,1,0,Good
1,134075,18,1,0,0,1,0,0,0,1,0,1,Good
2,160205,30,0,1,0,0,1,0,0,1,1,0,Good
3,193264,15,0,0,1,0,0,1,0,1,0,1,Good
4,27533,28,0,1,0,0,1,0,1,0,1,0,Good

In [29]:
colnames = list(Ran_For.columns)
colnames

['City.Population',
 'Work.Experience',
 'Marital.Status_Divorced',
 'Marital.Status_Married',
 'Marital.Status_Single',
 'Marital.Status_Divorced',
 'Marital.Status_Married',
 'Marital.Status_Single',
 'Urban_NO',
 'Urban_YES',
 'Undergrad_NO',
 'Undergrad_YES',
 'tax']

In [30]:
predictors = colnames[:9]
target = colnames[9]

In [31]:
predictors

['City.Population',
 'Work.Experience',
 'Marital.Status_Divorced',
 'Marital.Status_Married',
 'Marital.Status_Single',
 'Marital.Status_Divorced',
 'Marital.Status_Married',
 'Marital.Status_Single',
 'Urban_NO']

In [32]:
target

'Urban_YES'

In [33]:
x = Ran_For[predictors]
y = Ran_For[target]
x

,City.Population,Work.Experience,Marital.Status_Divorced,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Married,Marital.Status_Single,Marital.Status_Single,Marital.Status_Divorced,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Married,Marital.Status_Single,Marital.Status_Single,Urban_NO
0,50047,10,0,0,0,0,1,1,0,0,0,0,1,1,0
1,134075,18,1,1,0,0,0,0,1,1,0,0,0,0,0
2,160205,30,0,0,1,1,0,0,0,0,1,1,0,0,0
3,193264,15,0,0,0,0,1,1,0,0,0,0,1,1,0
4,27533,28,0,0,1,1,0,0,0,0,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,39492,7,1,1,0,0,0,0,1,1,0,0,0,0,0
596,55369,2,1,1,0,0,0,0,1,1,0,0,0,0,0
597,154058,0,1,1,0,0,0,0,1,1,0,0,0,0,0
598,180083,17,0,0,1,1,0,0,0,0,1,1,0,0,1
599,158137,16,1,1,0,0,0,0,1,1,0,0,0,0,1

In [34]:
y

0      1
1      1
2      1
3      1
4      0
      ..
595    1
596    1
597    1
598    0
599    0
Name: Urban_YES, Length: 600, dtype: uint8

In [35]:
# random forest classification 
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_jobs=2,oob_score=True,n_estimators=15,criterion="entropy")

In [37]:
# fitting the randomforestclassifier 
rf.fit(x,y)
rf.estimators_

[DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1438675773),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=422274454),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1319216133),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1561610159),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1148706280),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=348288139),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=268974222),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=451569982),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1413491449),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1947300310),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2037811068),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=86612925),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1306501653),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1982507992),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1095199122)]

In [38]:
rf.classes_ # class labels

array([0, 1], dtype=uint8)

In [40]:
rf.n_classes_ # number of levels in classlabels

2

In [41]:
rf.n_features_ # number of  input features in model 9 here

15

In [42]:
rf.n_outputs_

1

In [43]:
rf.oob_score_

0.9916666666666667

In [44]:
rf.predict(x)

array([1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1,
       1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 0], dtype=uint8)